<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgds.ultimate.shell">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false" />
    <queries>
        <package android:name="com.dsemu.drastic" />
        <intent><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.HOME" /></intent>
    </queries>

    <application
        android:localeConfig="@xml/locales_config"
        android:allowBackup="false"
        android:debuggable="false"
        android:testOnly="false"
        android:extractNativeLibs="false"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">

        <receiver android:name=".TaskReceiptReceiver" android:exported="false" />

        <activity
            android:name=".TopDisplayActivity"
            android:configChanges="locale|layoutDirection|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="landscape"
            android:taskAffinity="com.rgds.ultimate.shell.top" />

        <activity
            android:name=".BottomHomeActivity"
            android:configChanges="locale|layoutDirection|keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
